body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: gray;
    color: white;
}
.input{
   display: flex;
    width: 525px;
    padding: 30px;
    border-radius: 25px;
    background: black;
    margin-left: 100px;
    margin-top: 100px;
   
}
.input input:not([type="submit"]){
    width: 71%;
    height: 41px;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}
.submit{
    width: 150px;
       text-align: center;
       height: 50px;
       font-size: 20px;
       cursor: pointer;
       background: skyblue;
       color: #fff;
      border: none;
      pointer-events: none;
}
.submit.active{
    pointer-events: auto;
}
.submit:hover{
    background: rgb(12, 173, 226);
}
.pass-req{
    display: none;
}
.pass-req ul{
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}
.pass-req ul li{
    margin-bottom: 8px;
    color: red;
    font-weight: 700;
}
.pass-req ul li.active{
    color: green;
}
.pass-req ul li span:before{
    content: "🗴";
}
.pass-req ul li.active span:before{
    content: "✅";
}